- title "Welcome, #{current_user.name}!"
%h3 Log in to OpenNeo apps
%ul
  - @apps.each do |key, app|
    %li= remote_sign_in_link_to app
%p
  This is your Openneo ID dashboard. You can sign into other websites from
  here and
  = link_to 'change your settings', edit_user_registration_path
  and whatnot.
